# Copyright 2020 Pants project contributors.
# Licensed under the Apache License, Version 2.0 (see LICENSE).

# See https://pants.readme.io/docs/using-pants-in-ci for tips on how to set up your CI with Pants.

os: linux
dist: bionic
language: python
python: 3.6

cache:
  directories:
    - $HOME/.cache/pants/setup
    - $HOME/.cache/pants/lmdb_store
    - $HOME/.cache/pants/named_caches

install:
  - ./pants --version  # This will bootstrap Pants

script:
  - ./pants lint '::'
  - ./pants test '::'
  # Smoke test that our `binary` and `run` implementations run successfully.
  - ./pants binary '::'
  - ./pants --no-pantsd run build-support/python/setup_venv.sh
